---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15KGC5JwPS7CsuHvwTeGwqwU&plan=normal&email=friend%40email.com
    headers:
      Authorization:
      - Bearer sk_test_B2910d2ZEeOwXAC6NbJhSbfr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1421099874,
          "id": "cus_5VGjluJ0Z8Xk2J",
          "livemode": false,
          "description": null,
          "email": "friend@email.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5VGjluJ0Z8Xk2J/subscriptions",
            "data": [
              {
                "id": "sub_5VGj1pjJOH5fps",
                "plan": {
                  "interval": "month",
                  "name": "regular priced plan",
                  "created": 1421091908,
                  "amount": 999,
                  "currency": "usd",
                  "id": "normal",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": "vpass charge"
                },
                "object": "subscription",
                "start": 1421099874,
                "status": "active",
                "customer": "cus_5VGjluJ0Z8Xk2J",
                "cancel_at_period_end": false,
                "current_period_start": 1421099874,
                "current_period_end": 1423778274,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5VGjluJ0Z8Xk2J/cards",
            "data": [
              {
                "id": "card_15KGC5JwPS7CsuHv7EJIlXby",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2017,
                "fingerprint": "rLAb2nRO0fHnP9cK",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5VGjluJ0Z8Xk2J"
              }
            ]
          },
          "default_card": "card_15KGC5JwPS7CsuHv7EJIlXby"
        }
  recorded_at: Mon, 12 Jan 2015 21:57:54 GMT
recorded_with: VCR 2.9.3
